:root {

  --color-primary: #191c50; 
  --color-bg: #f9fafb;          
  --color-text: #222222;  

  --color-accent: #ff1d58;      
  --color-accent-light: #f75990;
  --color-secondary: #00ddff;   

  --color-card-bg: #ffffff;     
  --color-card-border: #d0d6e2; 
}

body {
  font-family: var(--font-primary);
  /* 'Open Sans', 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
  max-width: 1200px;
  margin: auto;
}

header {
    display: grid;    
    background-color: var(--text-color);  
    padding: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;  
    justify-content: space-between;  
}  

.logo img {  
    width: 100px; 
}  

nav ul {  
    list-style: none;
    display: flex; 
    justify-content: flex-end;   
}  

nav ul li {  
    margin: 0 10px;  
}  

nav ul li a {  
    color: #a1c0ce;  
    text-decoration: none;  
}  
/*  */
header {
  background-color: var(--color-primary);
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  max-height: 200px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 10px 0 0 0;
}
/*  */
.nav li {
  margin: 0 15px;
}
/*  */
.nav-menu a {
    color: white;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
} 
/*  */
.nav-menu a:hover
header nav a:focus {
  background-color:var(--color-accent);
  color: white;
  box-shadow: 0 0 8px var(--color-accent-light);
  outline: none;
}

/*  */
main {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: var(--color-card-bg);
  border: 1.5px solid var(--color-card-border);
  box-shadow: 0 4px 8px rgba(16, 21, 133, 0.1); 
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  padding: 15px;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.card:hover,
.card:focus-within {
  box-shadow: 0 8px 16px rgba(255, 29, 88, 0.3); /* vibrant pink shadow on hover */
}

.card h2 {
  color: var(--color-primary);
}

footer {
  background-color: var(--color-primary);
  color: white;
  font-size: 0.9rem;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}