:root {
  --base-color: #337418;
  --complementary-color-1: #b2007f;
  --complementary-color-2: #5dd62c;
  --neutral-color-1: #202020;
  --neutral-color-2: #dcb3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 12px;
  margin: 10px;
}

.site-header {
  background-color: var(--base-color);
  color: white;
  text-align: center;
}

.site-title {
  font-size: 2em;
  padding: 20px;
  font-weight: bold;
}

.site-title > span {
  color: var(--complementary-color-2);
  font-size: 1.75rem;
}

/* NavBar */
.site-navigation {
  background-color: var(--neutral-color-1);
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a:hover {
  color: var(--complementary-color-2);
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: var(--complementary-color-2);
  transition: width 0.4s ease, left 0.4s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
}

nav a:active {
  color: var(--complementary-color-2);
}


/* MAIN CONTENT */

.main-content {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px; /* Ensure max-width is applied to the main element */
  margin: 0 auto; /* Center the main content */
}

/* Cards */
.card {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  background-color: var(--complementary-color-2);
}

/* Bio */

.card-image-1 {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  float: right;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.bio > p {
  padding: 20px;
}

/* About Malawi */
.about-malawi {
  margin: 20px auto;
}

.about-malawi > p {
  padding: 20px;
}

hr {
  width: 300px;
  color: var(--neutral-color-1);
  margin: 0 auto;
}

h2 {
  text-align: center;
}

figure {
  text-align: center;
  margin: auto;
  float: left;
}

figcaption {
  margin-top: -10px;
  font-style: italic;
  font-size: smaller;
}

.flag {
  width: 150px;
  height: auto;
  border-radius: 5px;
  border: solid 1px var(--complementary-color-1);
  margin: 20px;
}

/* Web Dev Resources */

.resource-list {
  list-style-type: none;
  padding: 60px 30px;
  margin: auto;
  border: solid var(--complementary-color-2) 1px;
}

.resource-item {
  margin: 10px 0;
}

.resource-link {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.resource-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* FOOTER */
footer {
  grid-area: footer;
  background-color: var(--neutral-color-1);
  color: white;
  text-align: center;
  padding: 10px;
}

.footer-modified {
  /* color: var(--base-color); */
  font-style: italic;
}
