body {
    display: grid;
    font-family: acme, Arial, sans-serif;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    grid-column: 1 / -1;
}

.header {
    background-color: #8f8f8f;
    margin-block-start: 0 !important;
    padding: 1rem 1rem 3rem 1rem;
}


nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;;
}

nav li {
    flex: 0 1 auto;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    grid-column: 1 / 2;
    grid-row: 2 /4;
    background: rgb(66, 119, 84);
}

aside {
    grid-column:  2/3;
    grid-row: 2/4;
    background-color: rgb(174, 181, 206);
}

p {
    padding: 1rem
}

footer {
    grid-column: 1 / -1;
    text-align: center;
    background-color: #8f8f8f;
}