body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: #f4f6fa;
    color: #111;
}

header {
    background: #102542;
    color: #fff;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid #243b53;
    max-width: 640px;
    margin: 1rem auto;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1rem;
    margin: 1rem auto;
    max-width: 640px;
    border:1px solid #b7c9e2;
    padding: 1rem;
}

.card {
    background: #e9eef6; 
    border: 3px solid #b7c9e2; 
    border-radius: 10px;
    flex: 1 1 320px;
    min-width: 280px;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 4px 16px rgba(16, 37, 66, 0.07);
    margin: 0.5rem;
}

.card h2 {
    font-size: 1.5rem;
    color: #102542; 
    margin-bottom: 1rem;
    font-weight: 700;
}

.card p {
    font-size: 10.5rem;
    color: #222;
    line-height: 1.6;
}

footer {
    background: #dbeafe; 
    color: #102542;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-top: 2px solid #b7c9e2;
    text-align: left;
    letter-spacing: 0.5px;
    max-width: 640px;
    margin: 1rem auto;
}